__pycache__/
*.py[cod]
*$py.class

.env
*.env

*.egg-info/
pip-wheel-metadata/
*.dist-info/
build/
dist/

.venv/
venv/
ENV/
env/

.aws-sam/
.local/
*.log

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

.DS_Store
*.swp
*.swo
*.bak

htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/
junitxml/
